<section id="index">
    <section class="about">
        <h2 class="title">
            <span class="name">Joel / Junyong Lee</span>
            <a class="github" href="https://github.com/dyong0/"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a class="linkedin" href="https://www.linkedin.com/in/junyong-lee-9bb20aa8/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        </h2>
        <p class="desc">
            <span class="position">Software Engineer @Rakuten</span>
            <a class="email" href="mailto://likedyong@gmail.com">likedyong@gmail.com</a>
        </p>
        <p class="msg">
            Love javascript and Node.js!
        </p>
    </section>

    <section class="projects">
        <h2 class="title">Projects</h2>
        {{#each projects}}
        <div class="project">
            <h2 class="project-title"><a href="{{url}}">{{name}}</a></h2>
            <p class="project-stat">
                <span class="progress"><img src="https://img.shields.io/badge/progress-{{progress}}-{{getProgressColor progress}}.svg?style=flat-square&maxAge=2592000" alt="progress"></span>
                <span class="version"><img src="https://img.shields.io/badge/latest-v{{version}}-{{getVersionColor version}}.svg?style=flat-square&maxAge=2592000" alt="version"></span>
                <span class="issues"><img src="http://githubbadges.herokuapp.com/{{githubId}}/{{repositoryName}}/issues?style=flat-square&maxAge=2592000" alt="issues"></span>
            </p>
            <p class="project-desc"><a href="{{url}}">{{description}}</a></p>
        </div>
        {{/each}}
    </section>

    <script src="/static/vendors/jquery.js"></script>
    <script src="/static/js/index.js"></script>
</section>